-r requirements.txt

# HuggingFace
huggingface==0.0.1
transformers==4.47.1

# Documentation
mkdocs==1.6.1
mkautodoc==0.2.0
mkdocs-material==9.5.39

# Packaging
setuptools~=75.3.0
twine~=6.0.1

# Code quality
# ------------------------------------------------------------------------------
pre-commit==3.7.0
black==24.3.0
flake8==7.0.0
pre-commit==3.7.0
isort==5.13.2
mypy==1.11.2
coverage[toml]==7.6.1

# Tests
# ------------------------------------------------------------------------------
pytest==8.3.3
pytest-asyncio==0.24.0
pytest-cov==6.0.0
tox==4.23.2
